# Load Dataset

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

# URL of the dataset
url = 'https://raw.githubusercontent.com/IBM/telco-customer-churn-on-icp4d/master/data/Telco-Customer-Churn.csv'

# Load the dataset
data = pd.read_csv(url)

data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# DataPreprocessing

In [2]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [4]:
data.drop(columns=['customerID'],inplace=True)

In [5]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [17]:
data.shape

(7043, 20)

In [18]:
data.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [19]:
data.duplicated().sum()

22

In [20]:
data.drop_duplicates(inplace=True)

In [21]:
data.duplicated().sum()

0

In [24]:
for i in data.select_dtypes("object").columns:
    print("Unique value in: ",i)
    print(data[i].unique())
    print("Total Unique Values are: ",data[i].nunique())
    print("*"*50)
    print()

Unique value in:  gender
['Female' 'Male']
Total Unique Values are:  2
**************************************************

Unique value in:  Partner
['Yes' 'No']
Total Unique Values are:  2
**************************************************

Unique value in:  Dependents
['No' 'Yes']
Total Unique Values are:  2
**************************************************

Unique value in:  PhoneService
['No' 'Yes']
Total Unique Values are:  2
**************************************************

Unique value in:  MultipleLines
['No phone service' 'No' 'Yes']
Total Unique Values are:  3
**************************************************

Unique value in:  InternetService
['DSL' 'Fiber optic' 'No']
Total Unique Values are:  3
**************************************************

Unique value in:  OnlineSecurity
['No' 'Yes' 'No internet service']
Total Unique Values are:  3
**************************************************

Unique value in:  OnlineBackup
['Yes' 'No' 'No internet service']
Total Unique Values are:  3
**************************************************

Unique value in:  DeviceProtection
['No' 'Yes' 'No internet service']
Total Unique Values are:  3
**************************************************

Unique value in:  TechSupport
['No' 'Yes' 'No internet service']
Total Unique Values are:  3
**************************************************

Unique value in:  StreamingTV
['No' 'Yes' 'No internet service']
Total Unique Values are:  3
**************************************************

Unique value in:  StreamingMovies
['No' 'Yes' 'No internet service']
Total Unique Values are:  3
**************************************************

Unique value in:  Contract
['Month-to-month' 'One year' 'Two year']
Total Unique Values are:  3
**************************************************

Unique value in:  PaperlessBilling
['Yes' 'No']
Total Unique Values are:  2
**************************************************

Unique value in:  PaymentMethod
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Total Unique Values are:  4
**************************************************

Unique value in:  TotalCharges
['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
Total Unique Values are:  6531
**************************************************

Unique value in:  Churn
['No' 'Yes']
Total Unique Values are:  2
**************************************************

In [25]:
data.describe(include='object')

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,Churn
count,7021,7021,7021,7021,7021,7021,7021,7021,7021,7021,7021,7021,7021,7021,7021,7021,7021
unique,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,6531,2
top,Male,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,,No
freq,3541,3619,4911,6339,3368,3090,3490,3080,3087,3465,2802,2777,3853,4161,2359,11,5164

In [26]:
data.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7021.000000  7021.000000     7021.000000
mean        0.162512    32.469449       64.851894
std         0.368947    24.534965       30.069001
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.750000
50%         0.000000    29.000000       70.400000
75%         0.000000    55.000000       89.900000
max         1.000000    72.000000      118.750000

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7021 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7021 non-null   object
 1   SeniorCitizen     7021 non-null   int64
 2   Partner           7021 non-null   object
 3   Dependents        7021 non-null   object
 4   tenure            7021 non-null   int64
 5   PhoneService      7021 non-null   object
 6   MultipleLines     7021 non-null   object
 7   InternetService   7021 non-null   object
 8   OnlineSecurity    7021 non-null   object
 9   OnlineBackup      7021 non-null   object
 10  DeviceProtection  7021 non-null   object
 11  TechSupport       7021 non-null   object
 12  StreamingTV       7021 non-null   object
 13  StreamingMovies   7021 non-null   object
 14  Contract          7021 non-null   object
 15  PaperlessBilling  7021 non-null   object
 16  PaymentMethod     7021 non-null   object
 17  MonthlyCharges    7021 non-null   float64
 18  TotalCharges      7021 non-null   object
 19  Churn             7021 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

# Exploratory Data Analysis